body {
	margin: 20px;
	font-family: Georgia, Verdana, Tahoma, Arial;
}

.avatar {
	width: 150px;
	border: 1px solid #00ffff;
	/*border-radius: 100%;*/
}

.card {
	display: flex;
	width: 400px;
	margin: 0 auto;
	padding: 10px;
	justify-content: space-around;
	text-align: center;
	background: #00ffff;
	color: #2b2839;
	border-bottom: 5px solid #2b2839;
	border-right: 5px solid #2b2839;
	border-radius: 10px;
}

.border-red {
	border: 1px dotted red;
}